/* Color styles */
$main-color: rgba(255, 235, 194, 1);
$bg-color: rgba(255, 251, 242, 1);
$sub-color: rgba(186, 142, 95, 1);
$point-color: rgba(163, 96, 49, 1);
$font-color: rgba(80, 49, 29, 1);

/* Text-size styles */
$title-font: 30px;
$sub-font: 24px;
$f-a-q-text-font: 20px;
$desc-text-font: 16px;
$notice-text-font: 14px;
$mobile-notice-font: 12px;
$mobile-text-font: 15px;
$mobile-subtitle-font: 16px;
$mobile-title-font: 24px;

// $--swiper-theme-color: $main-color;
