@use "./variables" as *;
@use "./btn" as *;

@font-face {
  font-family: "Cafe24Surround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OngleipParkDahyeon";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
.inner {
  width: 90%;
  max-width: 1000px;
  // min-width: 320px;
  margin: auto;
  //   @media (max-width: 1023px) {
  //   width: 90%;
  // }
}
// 커스텀 드롭다운 스타일
.text_selection {
  width: 100%;
  .store {
    color: $font-color;
    font-size: $desc-text-font;
    margin-bottom: 15px;
  }
}
.custom-select {
  position: relative;
  width: 100%;

  .select-trigger {
    width: 100%;
    border: 2px solid $font-color;
    border-radius: 8px;
    padding: 10px 15px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "SpokaHanSansNeo";
    font-size: $desc-text-font;
    transition: all 0.25s ease;
    position: relative;
    // color: #111;

    .label {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;
      p {
        font-size: $notice-text-font;
        line-height: 1.2;
        color: #111;
      }
      span {
        font-size: $mobile-notice-font;
        color: #949494;
        line-height: 1.2;
      }
      &.placeholder {
        color: #9fa3a7;
        font-size: $desc-text-font;
      }
    }

    // 화살표를 ::after로 만들기
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -6px; // 화살표 높이의 절반만큼 위로 이동
      width: 12px;
      height: 12px;
      background: url(/images/pje/arrow.png) no-repeat center/12px;
      transition: transform 0.25s ease;
    }

    // 드롭다운이 열릴 때 화살표만 회전 (위치는 고정)
    &.open::after {
      transform: rotate(180deg);
    }
  }

  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    // border: 2px solid $font-color;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    border-top: none;
    // border-radius: 0 0 8px 8px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.25s ease;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }

    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .option {
      padding: 15px 20px;
      cursor: pointer;
      font-family: "SpokaHanSansNeo";
      font-size: $notice-text-font;
      color: #111;
      transition: background-color 0.25s;

      &:hover {
        background-color: #f5f5f5;
      }

      &:last-child {
        border-radius: 0 0 6px 6px;
      }

      // 모든 옵션의 span에 적용
      span {
        font-size: $mobile-notice-font;
        color: #949494;
      }
    }
  }
}
